annotationPipeline/target/*
annotator/target/*
annotationPipeline/src/main/resources/application.properties
databaseAnnotator/target/*
databaseAnnotator/src/main/resources/application.properties
.DS_Store
annotationPipeline/src/main/resources/log4j.properties
databaseAnnotator/src/main/resources/log4j.properties
*.iml
swagger-codegen-cli.jar