# Core
annotator/target/*
annotationPipeline/target/*
annotationPipeline/src/main/resources/application.properties
annotationPipeline/src/main/resources/log4j.properties
annotationPipeline/data/output.txt

databaseAnnotator/target/*
databaseAnnotator/src/main/resources/application.properties
databaseAnnotator/src/main/resources/log4j.properties

# Utilities Ignore
swagger-codegen-cli.jar
*.iml
*repository.sqlite

# OS Ignore
.DS_Store

# Editor Ignore
/.idea/
.vim/
.sdkmanrc
