spring.batch.job.enabled=false
databaseannotator.chunk_size=500
databaseannotator.user=
databaseannotator.pass=
databaseannotator.driver=com.mysql.jdbc.Driver
databaseannotator.connection_string=jdbc:mysql://<HOST>/<DATABASE>

genomenexus.hgvs=<HOST>/variant_annotation/hgvs/
genomenexus.xrefs=<HOST>/xrefs/
genomenexus.isoform_query_parameter=isoformOverrideSource
genomenexus.enrichment_fields=hotspots,mutation_assessor
