spring.batch.job.enabled=false
genomenexus.hgvs=<HOST>/hgvs/
genomenexus.xrefs=<HOST>/xrefs/
genomenexus.isoform_query_parameter=isoformOverrideSource
genomenexus.enrichment_fields=hotspots,mutation_assessor
chunk=10
