name: Docker Image CI
on:
  push:
    branches: 
      - master
      - demo-*
    tags: 
      - 'v*'

jobs:
  build_and_publish:
    if: github.repository == 'genome-nexus/genome-nexus-annotation-pipeline'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0   # fetch all history for git describe to work correctly with tags
          tags: true       # explicitly fetch all tags
      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: |
            genomenexus/gn-annotation-pipeline
          # The latest tag will also be generated on tag event with a valid semver tag
          tags: |
            type=ref,event=branch
            type=semver,pattern={{version}}

      # The following two actions are required to build multi-platform images
      # buildx is an extension of docker build, QUEM is used to convert the binary to varies architecture
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Show directory structure
        run: tree -L 2
      - name: Move to repo root
        run: cd ${{ github.workspace }}
      - name: Show directory structure again
        run: tree -L 2
      - name: Run versioning script
        run: ./version.sh
      - name: Show all module versions and parents
        run: |
          echo "Root POM version:"
          grep '<version>' pom.xml | head -1
          echo
          echo "annotationPipeline parent reference:"
          grep '<parent>' annotationPipeline/pom.xml -A 4
          grep '<version>' annotationPipeline/pom.xml | head -1
          echo
          echo "annotator parent reference:"
          grep '<parent>' annotator/pom.xml -A 4
          grep '<version>' annotator/pom.xml | head -1
      
      - name: Show annotationPipeline POM
        run: cat annotationPipeline/pom.xml
      
      - name: Show annotator POM
        run: cat annotator/pom.xml
      - name: Build Java code and install to local Maven repo
        run: mvn -DskipTests install --batch-mode --no-transfer-progress -X
      - name: Publish Docker Image on Tag
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          platforms: linux/amd64,linux/arm64
          file: Dockerfile
